<%- include('header') %> 
</nav>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">404</h1>
              <h4 class="display-4">UH OH! You're Lost</h4>
              <p class="lead">The page you are looking for doesnot exist. 
                Try Entering a correct state name.</p>
                <p class="lead">Click the below button to go back to main page</p>
            <a href="/"><button type="button" class="er btn btn-outline-dark">Home</button></a>
            </div>
          </div>
</body>
</html>
