<div class="footer">
    <a  class="footer-link" href="https://github.com/bhanureddy2105"><i class="fab fa-github"></i></a>
    <a  class="footer-link" href="https://www.linkedin.com/in/v-bhanu-prakash-reddy-4143071a0/"><i class="fab fa-linkedin"></i></a>
    <a  class="footer-link" href="https://www.instagram.com/bhanu_reddy2105/"><i class="fab fa-instagram"></i></a>
    <p class="copyright" >© <%= year %>  Bhanu.</p>
</div>